// Colors
// colors for use across theme.
// --------------------------------------------------

$pink-bright  = #ffa3a3
$pink         = #ff6565
$pink-deep    = #993d3d


// Selection
$selection-bg                 = $pink-deep


// Sidebar
$sidebar-highlight                    = $pink-bright
